.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
/api/app/.idea/
/.idea
data/*
models/SRGAN/*
models/SRRESNET/*
logs/*
!logs/SRGAN/.gitkeep
!logs/SRRESNET/.gitkeep
!data/.gitkeep
!models/SRGAN/.gitkeep
!models/SRRESNET/.gitkeep
