.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
/data/
/api/app/.idea/
/.idea
/api/app/static/images
models/*
!models/.gitkeep
logs/*
!logs/SRGAN/.gitkeep
!logs/SRRESNET/.gitkeep
data/*
!data/.gitkeep
